---
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
        <meta name="author" content="Krystian Zieja" />
        <meta name="keywords" content="Login, Register, Sanctum, Astro, Laravel" />
        <meta name="description" content="Simple login system with astro and laravel" />
		<title>Login</title>
        <ViewTransitions />
	</head>
	<body>
        <img src="./background.jpg" alt="background" />
		<slot />
	</body>
</html>

<style>
    body {
        width : 100vw;
        height : 100vh;
        margin : 0;
        padding : 0;
        overflow : hidden;
        box-sizing : border-box;

        display : flex;
        justify-content : center;
        align-items : center;
    }
    img {
        width : 100vw;
        height : 100vh;
        object-fit : cover;
        position : fixed;
        z-index : -1;
    }
</style>

