---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
        <meta name="author" content="Krystian Zieja" />
        <meta name="keywords" content="Login, Register, Sanctum, Astro, Laravel" />
        <meta name="description" content="Simple login system with astro and laravel" />
		<title>Login</title>
	</head>
	<body>
		<slot />
	</body>
</html>
