---
import Layout from './layout/layout.astro';
---

<Layout>
	<form transition:animate="slide">
		<h1>Welcome Back</h1>
		<label>Username</label>
		<input name="name" type="text" placeholder="Enter your username" required />
		<label>Password</label>
		<input name="password" type="password" placeholder="Enter your password" required />
		<button type="submit">Login</button>
		<a href="/register">Don't have an account ?</a>

		<div class="errors">

		</div>
	</form>
</Layout>

<script>
	import { checkToken } from '../checkToken';

	//create account info
	if(localStorage.getItem('info')) {
		alert(localStorage.getItem('info'));
		localStorage.removeItem('info');
	}

	checkToken();

	const form = document.querySelector('form');
	const errors = document.querySelector('.errors');

	form.addEventListener('submit',async (e) => {
		e.preventDefault();
		const formData = new FormData(form);

		const appendError = (el) => {
			const p = document.createElement('p');
			p.innerText = el;
			errors.appendChild(p);
		}

		await fetch('http://127.0.0.1:8000/api/login', { method : 'POST', body: formData })
			.then(res => res.json())
			.then(data => {
				if(data.errors) {
					errors.innerHTML = "";

					data.errors.password.forEach(element => {
						appendError(element);
					});

					data.errors.name.forEach(element => {
						appendError(element);
					});
				}

				else if(data.message) {
					errors.innerHTML = "";
					appendError(data.message);
				}

				else {
					localStorage.setItem('current_user', data.user);
					localStorage.setItem('token', data.token);

					window.location.href = '/panel';
				}
			})
	});
	
</script>

<style lang="scss">
	form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		min-width : 25rem;

		input {
			border: none;
			background-color: rgb(230, 230, 230);
		}

		h1 {
			text-align: center;
			width : 100%;
			font-size: 2.5rem;
		}

		label {
			margin-top : 1rem;
			margin-bottom : 0.5rem;
			font-size : 1.25rem;
		}

		button, h1 {
			margin-top : 3rem;
			margin-bottom : 3rem;
		}

		input,button {
			width : 100%;
			padding : 0.75rem;
			box-sizing: border-box;
			font-size : 1.3rem;
		}

		button {
			border: none;
			background-color: rgb(255, 217, 0);
			cursor: pointer;

			transition: background-color 250ms;
		}

		button:hover {
			background-color: orange;
		}

		a {
			width : 100%;
			text-align: center;
			margin-top : 2rem;
			text-decoration: none;
			font-size : 1.3rem;
			color : gray;
			opacity : 0.75;
			font-weight: 100;
		}
	}
</style>


